.nav-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: raleway;
    background-color: #b5c99a;
}
li {
    float: right;
    margin-right: 20px;
}
li a{
    display: inline-block; color: #301c11; text-align: center;
    padding: 14px 16px; text-decoration: none;
}
li a:hover {
    background-color: #c0d684;
}
.nav-bar ul li:hover::after{
width:100%}
.nav-bar ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #cfe1b9;
    display: block;
    margin: auto;
    transition: 0.5s;
}